<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ioc" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="appConfig" type="LINDGE.PARA.ConfigSourceDefineSection, LINDGE.PARA"/>
    <section name="serviceModule" type="LINDGE.PARA.Runtime.ServiceModuleDefineSection, LINDGE.PARA.Runtime"/>
  </configSections>

  <appConfig sourceType="LINDGE.PARA.Fundamental.Figure.SDK.ComplicatedConfigSource,LINDGE.PARA.Fundamental.Figure.SDK">
    <arguments>
      <add name="serviceUri" value="http://192.168.41.87:8000/Essential/Figure/api/"/>
      <add name="localConfigFile" value="|DataDirectory|\AppConfig.xml"/>
    </arguments>
  </appConfig>

  <serviceModule moduleName="">
    <serviceInterfaces>
    </serviceInterfaces>
  </serviceModule>

  <ioc>
    <modules>
      <module type="LINDGE.PARA.Fundamental.Figure.SDK.FigureProxyModule, LINDGE.PARA.Fundamental.Figure.SDK">
      </module>
      <module type="LINDGE.PARA.Avatar.Session.SessionServiceModule,LINDGE.PARA.Avatar.Session">
      </module>
      <module type="LINDGE.PARA.Fundamental.Avatar.Session.SDK.AvatarAuthModule,LINDGE.PARA.Fundamental.Avatar.Session.SDK">
      </module>
      <module type="LINDGE.PARA.Runtime.SingleUserIdentity.ServiceIocModule,LINDGE.PARA.Runtime.SingleUserIdentity.Service">
      </module>
      
	  <module type="LINDGE.PARA.Storage.LightingTable.NHibernate4.ServiceModule,LINDGE.PARA.Storage.LightingTable.NHibernate4">
	  </module>
      <module type="LINDGE.PARA.Runtime.GlobalConst.ServiceIocModule,LINDGE.PARA.Runtime.GlobalConst">
      </module>
	  <module type="LINDGE.PARA.Translayer.ClassroomTeaching.Quiz.WebAPI.ServiceModule,LINDGE.PARA.Translayer.ClassroomTeaching.Quiz.WebAPI">
	  </module>
	  <module type="LINDGE.PARA.Runtime.UniqueCode.ServiceModule,LINDGE.PARA.Runtime.UniqueCode">
	  </module>
	  <module type="LINDGE.PARA.Generic.Behavior.Active.SDK.SDKModule, LINDGE.PARA.Generic.Behavior.Active.SDK">
	  </module>
    <module type="LINDGE.PARA.Runtime.UnifyIdentity.Service.ServiceIocModule,LINDGE.PARA.Runtime.UnifyIdentity.Service"></module>
    <module type="LINDGE.PARA.Generic.ClassroomTeaching.Lesson.Service.ServiceModule,LINDGE.PARA.Generic.ClassroomTeaching.Lesson.Service">
    </module>
    <module type="LINDGE.PARA.Generic.ClassroomTeaching.Scene.Service.ServiceModule,LINDGE.PARA.Generic.ClassroomTeaching.Scene.Service">
    </module>
    </modules>
    <components>
      <component type="LINDGE.PARA.Data.EF.Log.EFLogStorage, LINDGE.PARA.Data.EF" service="LINDGE.PARA.Data.EF.Log.IEFLogStorage,LINDGE.PARA.Data.EF"
        instance-scope="per-lifetime-scope"/>
      <component type="LINDGE.PARA.Data.EF.Log.EFLogContext, LINDGE.PARA.Data.EF" service="LINDGE.PARA.Data.EF.Log.IEFLogContext,LINDGE.PARA.Data.EF"
        instance-scope="per-lifetime-scope"/>
      <component type="LINDGE.PARA.Data.EF.Log.EFLogService, LINDGE.PARA.Data.EF" service="LINDGE.PARA.Data.ILogService,LINDGE.PARA.Data"
        instance-scope="per-lifetime-scope"/>
    </components>
  </ioc>
</configuration>
